[Desktop Entry]
Version=1.0
Type=Application
Name=AziralPDF
Comment=Desktop PDF toolkit — edit, convert, sign and manage PDF files locally
TryExec={{exec}}
Exec={{exec}} %F
Icon={{icon}}
Terminal=false
MimeType=application/pdf;
Categories=Office;Graphics;Utility;
Actions=open-file;

[Desktop Action open-file]
Name=Open PDF File
Exec={{exec}} %F